{% for member in include.members %}

  {% assign remainder = forloop.index | modulo: 2 %}
  {% if remainder == 1 %}
    <div class="row">
  {% endif %}

  <div class="col-lg-6">
    <a href="{{ member.url }}">
	<div class="card mb-4 overflow-hidden">
	  <div class="card-header">
	    <div class="row justify-content-between align-items-center" style="height: 2.5rem">
	      <div class="col-auto fs-5">
	      {{ member.first_name }} {{ member.last_name }}
	      </div>
	      <div class="col-auto float-end">
	      <!--{% if member.github %}
		<a href="{{ member.github }}"><i class="bi bi-github text-body" style="font-size: 1.5rem"></i></a>
	      {% endif %}-->
	      </div>
	    </div>
	  </div>
	  <div class="row g-0 img-box-left">
	    <div class="col-sm-auto">
	      <img src={% if member.image %}"{{ member.image }}"{% else %}"/assets/images/profile_pictures/dummy.svg"{% endif %} class="img-fluid rounded-circle object-fit-cover ratio-1x1 m-3" alt="..." style="width: 135px; height: 135px">
	    </div>
	    <div class="col-sm-8">
	      <div class="card-body">
		{% if include.position %}<h5 class="card-title fw-light">{{ member.position }}</h5>{% endif %}
		<p class="card-text">{{ member.short_description | markdownify }}</p>
	      </div>
	    </div>
	  </div>
	  <!-- <div class="card-footer" style="height: 3rem"> -->
	    <!-- <a href="{{ member.github }}"><i class="bi bi-github text-body" style="font-size: 1.5rem"></i></a> -->
	    <!-- </div> -->
	</div>
    </a>
  </div>
  {% if remainder == 0 or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
