{% assign news = include.news %}
<div class="card mb-3 news">
  <div class="card-header">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-10 fs-5 news-headline">
        {{ news.headline | markdownify }}
      </div>
      <div class="col-sm-2 text-end news-date">
        {{ news.date | date_to_string }}
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row align-items-start">
      <div class="col-sm-10 card-text collapse-wrapper news-text" id="news-text-{{ forloop.index }}" >
        {{ news.text | markdownify }}
      </div>
      {% if news.link %}
      <div class="col-sm-2 text-sm-end text-center my-2 my-sm-0">
        <a href="{{ news.link }}" class="btn btn-sm btn-primary" role="button">Read More</a>
      </div>
      {% endif %}
    </div>
    <button
      class="btn btn-sm mt-2 toggle-btn arrow-btn d-block mx-auto"
      data-target="#news-text-{{ forloop.index }}"
      aria-expanded="false"
      aria-label="Toggle full text"
    >
      <i class="text-primary arrow-icon fas fa-chevron-down"></i>
    </button>
  </div>
</div>
