{% assign news = include.news %}
<div class="card mb-3 news">
  <div class="card-header">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-10 fs-5 news-headline">
        {{ news.headline | markdownify }}
      </div>
      <div class="col-sm-2 text-end news-date">
        {{ news.date | date_to_string }}
      </div>
    </div>
  </div>
  <div class="row g-2">
    {% if news.image %}
    <div class="col-md-9">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      <div class="card-body">
        <!-- <div class="row align-items-center justify-content-between"> -->
          <div class="col-sm align-items-center">
            <div class="card-text collapse-wrapper news-text" id="news-text-{{ forloop.index }}">
              {{ news.text | markdownify }}
              {% if news.link %}
              <!-- <div class="col-sm-2 text-end "> -->
              <div class="text-center ">
                <a href="{{ news.link }}" class="btn btn-sm btn-primary" role="button">Read More</a>
              </div>
              {% endif %}
            </div>
        </div>
      </div>
      <button
        class="btn btn-sm mt-2 toggle-btn arrow-btn d-block mx-auto"
        data-target="#news-text-{{ forloop.index }}"
        aria-expanded="false"
        aria-label="Toggle full text"
      >
        <i class="text-primary arrow-icon fas fa-chevron-down"></i>
      </button>
    </div>
    {% if news.image %}
    <div class="col-md-3">
      <a href="#" data-bs-toggle="modal" data-bs-target="#newsImageModal-{{ forloop.index }}">
        <img src="{{ news.image }}" alt="{{ news.headline | escape }}" class="news-image rounded-bottom-end">
      </a>
    </div>
    {% endif %}
  </div>
</div>

