@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



$utilities: map-merge(
  $utilities,
  (
	"img-card-left": (
	  property: border-bottom-left-radius,
	  class: img-card-left,
	  values: (
	    null: var(--#{$prefix}border-radius),
	    0: 0,
	    1: var(--#{$prefix}border-radius-sm),
	    2: var(--#{$prefix}border-radius),
	    3: var(--#{$prefix}border-radius-lg),
	    4: var(--#{$prefix}border-radius-xl),
	    5: var(--#{$prefix}border-radius-xxl),
	    circle: 50%,
	    pill: var(--#{$prefix}border-radius-pill)
	  )
	),
  )
);

@import "bootstrap/scss/utilities/api";

a {
    text-decoration: none;
}

#page-title {
	margin-bottom: 0.5em;
}

#website-title {
	border-left: solid;
}

#hero {
	background-color: #292F36;
	min-height: $member-hero-height;
	// min-height: 100px;
}

#hero > .container{
	min-height: $member-hero-height;
	> * {
		min-height: $member-hero-height;
	}
}


#hero + .container-fluid {
	// box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.45);
	box-shadow: 0 -0.6em 0.6em rgba(0, 0, 0, 0.25);
}

nav + .container {
	padding-top: $spacer;
}

nav.border-bottom {
	border-bottom-color: $purple !important;
}

.profile-pic-box {
	position: absolute;
	width: 100%;
	top: calc( (-#{$profile-pic-size}) / 2 - #{$spacer});
	z-index: 5;
	text-align: center;
}

#profile-pic {
	max-width: $profile-pic-size;
	min-width: calc(#{$profile-pic-size} * 0.9);
	aspect-ratio: 1 / 1;
}


#profile-pic-out-cont + * {
	margin-top: calc( (#{$profile-pic-size}) / 2 * 1.15);
}


// body .container {
	// background-image: url("/assets/images/NNEFT_background.png");
// }


.img-box-left > [class*='col']:first-child {
	flex: 1 0 auto;
	justify-content: center;
	display: flex;
}

.img-box-left > [class*='col']:last-child {
	flex: 1000 1;
}


p + h2 {
	margin-top: $spacer * 2;
}
