---
layout: default
---

<div id="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center pt-3 pb-4">
      <div class="col-sm-4 text-start">
        <h1>{{ page.first_name }} {{ page.last_name }}</h1>
        <p class="ps-1 text-body-secondary">{{ page.position }}</p>
      </div>
      <div class="col-sm-8 text-center">
        <img src="{% if page.blackboard-image %}{{ page.blackboard-image }}{% else %}/assets/images/NNEFT_matrices.png{% endif %}" class="img-fluid" style="max-height: 300px; opacity: 0.7;">
      </div>
    </div>
  </div>
</div>


<div class="foreground-banner-no-bs">
  <div class="container pt-4">
    <div class="row justify-content-center">
      <div class="col container-text">
        <div id="profile-pic-out-cont" class="row mb-3 align-items-start
          d-flex justify-content-between">
          <div class="col-sm text-center half-pic-height" style="position: relative;">
            <div class="row profile-pic-box align-items-center">
              <div class="col-sm-auto">
                <img id="profile-pic" src="{% if page.image %}{{ page.image
                }}{% else %}/assets/images/profile_pictures/dummy.svg{% endif
                %}" class="rounded-circle border border-4
                object-fit-cover">
              </div>
            </div>
          </div>
          <div class="col-sm-auto text-center">
          {% if page.email %}
          <!-- <div class="col-sm-auto text-center"> -->
            <a href="mailto:{{ page.email }}"><i class="mx-2 bi bi-envelope-fill text-body" style="font-size: 2rem"></i></a>
          <!-- </div> -->
          {% endif %}
          {% if page.github %}
          <!-- <div class="col-sm-auto text-center"> -->
            <a href="{{ page.github }}"><i class="mx-2 bi bi-github text-body" style="font-size: 2rem"></i></a>
          <!-- </div> -->
          {% endif %}
          {% if page.google_scholar %}
          <!-- <div class="col-sm-auto text-center"> -->
            <a href="{{ page.google_scholar }}"><i class="mx-2 fa-brands fa-google-scholar text-body" style="font-size: 2rem"></i></a>
          <!-- </div> -->
          {% endif %}
          {% if page.office.number %}
          <!-- <div class="col-sm-auto text-center"> -->
            <a href="{{ page.office.url }}"><i class="mx-1 bi bi-geo-alt-fill text-body" style="font-size: 2rem"></i></a>
          <!-- </div> -->
          {% endif %}
          </div>

        </div>
        <!-- <div class="row" style="position: relative;"> -->
        <!--   <div class="col text-end"> -->
        <!--     Github  -->
        <!--   </div> -->
        <!-- </div> -->
        {{ content }}

        <!-- Check if author has publications: -->

        {% assign pubs = "" | split: "," %}
        {% for item in site.data.publications %}
        {% assign pub = item[1] %}
        {% assign match = pub.author | where: 'family', page.last_name | first %}
        {% if match %}
        {% assign pubs = pubs | push: pub %}
        {% endif %}
        {% endfor %}

        {% assign pubs = pubs | sort: "issued" | reverse %}

        {% unless pubs == empty %}

        <h2 id="Publications">Publications</h2>

        {% for pub in pubs %}
        {% include publication.html pub=pub id=forloop.index %}
        {% endfor %}

        {% endunless %}


        {% assign talks = "" | split: "," %}
        {% for item in site.data.talks %}
        {% assign talk = item[1] %}
        {% if talk.speaker.last_name == page.last_name %}
        {% assign talks = talks | push: talk %}
        {% endif %}
        {% endfor %}


        {% assign talks = talks | sort: "date" | reverse %}

        {% unless talks == empty %}
        <h2 id="Talks">Talks</h2>

        {% for talk in talks %}
        {% include talk.html talk=talk id=forloop.index %}
        {% endfor %}

        {% endunless %}

      </div>
    </div>
  </div>
</div>
