# Build Jekyll site on non-main branches (test only)
name: Build Jekyll (Test)

on:
  # Runs on pushes to all branches except main
  pull_request:
    branches: [ "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read

jobs:
  build:
    name: Build with Jekyll
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build with Jekyll
        uses: ./.github/actions/build-jekyll
