# Build Jekyll site on non-main branches (test only)
name: Build Jekyll (Test)

on:
  # Runs on pushes to all branches except main
  push:
    branches:
      - '**'
      - '!main'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build-jekyll.yml
